<div class="toolbar" role="banner">
    <div class="flex-disp">
        <i class="fa fa-users"></i>
        <div class="title">DigiHRMS</div>
    </div>

    <div class="flex-disp">
        <div class="icon-wrapper"><i class="fa fa-search"></i></div>
        <div class="icon-wrapper"><i class="fa fa-th-large"></i></div>
        <div class="icon-wrapper"><i class="fa fa-bell"></i></div>

        <div class="date-cls">{{currentTime}}</div>

        <div><i class="fa fa-user-circle"></i></div>
        <div class="user-name">Johan Deo</div>
        <div><i class="fa fa-caret-down"></i></div>
    </div>
</div>