<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa fa-users"></i>
            <span class="title"> DigiHRMS </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="icon-wrapper"><i class="fa fa-search"></i></div>
                    <div class="resp-menu-names">Search</div>
                </li>
                <li class="nav-item">
                    <div class="icon-wrapper"><i class="fa fa-th-large"></i></div>
                    <div class="resp-menu-names">Menu</div>
                </li>
                <li class="nav-item">
                    <div class="icon-wrapper"><i class="fa fa-bell"></i></div>
                    <div class="resp-menu-names">Notifications</div>
                </li>
                <li class="nav-item">
                    <div class="date-cls">{{currentTime}}</div>
                </li>
                <li class="nav-item name-item">
                    <span><i class="fa fa-user-circle"></i></span>
                    <span class="user-name">Johan Deo</span>
                    <span><i class="fa fa-caret-down"></i></span>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="navigation bg-primary navbar-dark">
    <ul class="nav">
        <li class="nav-item" *ngFor="let nav of navigationList">
            <span class="nav-link" [ngClass]="{'active': nav=='Employee Info'}">
                <i class="fa fa-th-large" *ngIf="nav=='Dashboard'"></i>
                <i class="fa fa-folder" *ngIf="nav=='Company Info'"></i>
                <i class="fa fa-user" *ngIf="nav=='Employee Info'"></i>
                <i class="fa fa-briefcase" *ngIf="nav=='Job Portal'"></i>
                <i class="fa fa-user-o" *ngIf="nav=='Attendance'"></i>
                <i class="fa fa-dollar" *ngIf="nav=='Payroll'"></i>
                <i class="fa fa-plus-circle" *ngIf="nav=='Benefits'"></i>
                <i class="fa fa-calendar" *ngIf="nav=='Policies'"></i>
                <i class="fa fa-gear" *ngIf="nav=='Settings'"></i>
                {{nav}}
            </span>
        </li>
    </ul>

    <div class="nav-link more-cls dropdown">
        <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            More
        </span>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="dropdown-item" *ngFor="let more of overflowed" [ngClass]="{'active': more=='Employee Info'}">
                <i class="fa fa-th-large" *ngIf="more=='Dashboard'"></i>
                <i class="fa fa-folder" *ngIf="more=='Company Info'"></i>
                <i class="fa fa-user" *ngIf="more=='Employee Info'"></i>
                <i class="fa fa-briefcase" *ngIf="more=='Job Portal'"></i>
                <i class="fa fa-user-o" *ngIf="more=='Attendance'"></i>
                <i class="fa fa-dollar" *ngIf="more=='Payroll'"></i>
                <i class="fa fa-plus-circle" *ngIf="more=='Benefits'"></i>
                <i class="fa fa-calendar" *ngIf="more=='Policies'"></i>
                <i class="fa fa-gear" *ngIf="more=='Settings'"></i>
                {{more}}
            </li>
        </ul>

    </div>
</div>