
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end!important;
}

.fa, .navbar-nav>li{ color: #fff; }
.navbar-nav>li{
    display: flex;
    align-items: center;
}

.name-item{ display: flex; align-items: center; }

.title{
    font-size: 20px;
    font-weight: 700;
}

.fa-users{
    font-size: 20px;
    margin-right: 20px;
}

.date-cls{ margin-right: 18px; }

.icon-wrapper{
    border-radius: 50%;
    background-color: #0357ac;
    padding: 4px 10px;
    margin-right: 18px;
    width: max-content;
}

.date-cls{
    padding: 0 8px;
    border: 2px solid #fff;
    border-radius: 8px;
    width: max-content;
}

.user-name{ margin-right: 8px; }

.fa-user-circle{ font-size: 22px; margin-right: 12px; }

.navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.resp-menu-names{ display: none; }

@media(max-width: 992px){
    .resp-menu-names{ display: block; }
    .navbar-nav>li{  margin-bottom: 12px; }
}

.navigation{
    padding: 56px 16px 0 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .more-cls{ 
        visibility: hidden;     
        display: flex;
        align-items: flex-end; 
    }
    .nav-link{ color: #fff; }
    .active{ 
        background-color: #d6f4ff; 
        color: #0d6efd!important; 
        border-radius: 8px 8px 0 0; 
        .fa{ color: #0d6efd!important; }
    }

    .nav{
        height: 40px;
        overflow-y: hidden;
    }
}